<div class="call">
  <div class="call-box-top">
    {% if site.data.support.phone %}
        <div class="call-phone"><strong>Phone: </strong> {{ site.data.support.phone }} </div>
    {% endif %}
    {% if site.data.support.email %}
    <div class="call-email"><strong>Support Server: </strong>
    </div>
    {% endif %}
  </div>
    {% if include.show_button %}
  <div class="call-box-bottom">
      <a href="{{"https://asraparadise.github.io/support/"}}" class="button">Join</a>
      <!--<a href="{{ item.link }}" target="blank"><img src="{{ item.image | relative_url }}" title="{{ item.name }}" alt="{{ item.name }}" /></a>-->
  </div>
    {% endif %}
</div>
