<div class="call">
  <div class="call-box-top">
    {% if site.data.contact.phone %}
        <div class="call-phone"><strong>Phone: </strong> {{ site.data.contact.phone }} </div>
    {% endif %}
    {% if site.data.contact.email %}
    <div class="call-email"><strong>Discord Server: </strong>
    </div>
    {% endif %}
  </div>
    {% if include.show_button %}
  <div class="call-box-bottom">
      <a href="{{https://discord.gg/EbYwxMVfUA}}" class="button">Join</a>
  </div>
    {% endif %}
</div>
