<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="footer-inner">
                    <h2 class="footer-title">{{site.title}}</h2>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-sm-4 col-md-3 item">
                                <h3>Services</h3>
                                <ul>
                                    <li><a href="https://asraparadise.github.io/commands/">Commands</a></li>
                                    <li><a href="https://discord.com/invite/qwCzwBvRn9">Support</a></li>
                                    <li><a href="https://www.patreon.com/join/asraparadise">Premium</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-4 col-md-3 item">
                                <h3>About</h3>
                                <ul>
                                    <li><a href="https://asraparadise.github.io/faq/">FAQ</a></li>
                                    <li><a href="https://asraparadise.github.io/team/">Team</a></li>
                                    <li><a href="https://asraparadise.github.io/blog/">Blog</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-4 col-md-3 item">
                                <h3>Legal</h3>
                                <ul>
                                    <li><a href="https://asraparadise.github.io/appeal/">Appeals</a></li>
                                    <li><a href="https://asraparadise.github.io/terms/">Terms</a></li>
                                    <li><a href="https://asraparadise.github.io/privacy/">Privacy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>