---
layout: default
bodyClass: "page-apply"
---

<div class="intro">
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
                {{ content }}
            </div>
            {% if page.intro_image %}
            <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
                <img alt={{ page.header }} class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relative_url }}" />
            </div>
            {% endif %}
        </div>
    </div>
</div>

<script type="text/javascript">var submitted = false;</script>
<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;"
        onload="if(submitted) {window.location='https://asraparadise.github.io/thankyou/';}"></iframe>

<form action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSdjSy2rflDvxkkrpq05ZcSpscXGJtZBFNEIdpCycGEaMUztpw/formResponse" method="post" target="hidden_iframe" onsubmit="submitted=true;">
    <div class="strip">
        <div class="container pt-6 pb-6 pb-md-10">
            <div class="row justify-content-center">
                <div class="wrapper">
                    <table class="center" border="0" cellpadding="5" cellspacing="0">
                        <tr>
                            <td style="width: 50%">
                                <label for="Username"><b>Username *</b></label><br />
                                <input type="text" placeholder="e.g. Disguised" name="entry.1745682583" maxlength="32" style="width:100%;max-width: 260px" required />
                            </td>
                            <td style="width: 50%">
                                <label for="Tag"><b>Discriminator *</b></label><br />
                                <input type="number" placeholder="e.g. 4241" name="entry.1938410870" maxlength="4" style="width:100%;max-width: 260px" required />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <label for="Email"><b>Email *</b></label><br />
                                <input type="email" name="entry.230207329" maxlength="100" style="width:100%;max-width: 535px" required />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <label for="Timezone"><b>Timezone *</b></label><br />
                                <input type="text" name="entry.573105910" maxlength="100" style="width:100%;max-width: 535px" required />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <label for="Hours"><b>Hours available per day *</b></label><br />
                                <input type="text" name="entry.889652057" maxlength="100" style="width:100%;max-width: 535px" required />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <label for="Rules"><b>What would you do if someone broke one of the server rules? *</b></label><br />
                                <textarea rows="5" placeholder="Describe your approach and the actions you would take if someone was misbehaving or breaking a rule within the server." name="entry.429451450" style="width:100%;max-width: 535px" required></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <label for="Experience"><b>Previous Experience</b></label><br />
                                <textarea rows="5" placeholder="Please list any experience you have with discord staffing including a brief description of the nature of the server, your position and what your responsibilities are/were." name="entry.124616394" style="width:100%;max-width: 535px"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <label for="Comments"><b>Comments / Questions</b></label><br />
                                <textarea rows="5" placeholder="Any additional comments you have or questions you would like to ask." name="entry.18126311754" style="width:100%;max-width: 535px"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: center;">
                                <button type="submit">Submit</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</form>