---
layout: default
bodyClass: "page-error404"
---

<link href="{{ '/assets/css/botstyle.css'}}" rel="stylesheet">

<div class="container">
    <div class="row justify-content-center">
        <div class="card">
            <div class="imgBx">
                <img src="https://asraparadise.github.io/images/asrabot.png">
            </div>
            <div class="contentBx">
                <h2>Asra</h2>
                <a href="/commands/asra/">View</a>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="https://asraparadise.github.io/images/asramusicbot.png">
            </div>
            <div class="contentBx">
                <h2>Asra Music</h2>
                <a href="/commands/asramusic/">View</a>
            </div>
        </div>
    </div>
</div>