---
layout: default
bodyClass: "page-commands"
---

<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        {{ content }}
      </div>
      {% if page.intro_image %}
      <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
        <img alt={{ page.header }} class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relative_url }}" />
      </div>
      {% endif %}
    </div>
  </div>
</div>

<div class="container pt-6 pb-6">
    <div class="row">
        {% assign weighted_commands = site.commands.asra | sort: "weight" %}
        {% for command in weighted_commands %}
        {% if command.show %}
        <div class="col-12 col-md-6 mb-3">
            <div class="command command-summary">
                <div class="command-content">
                    <h2 class="command-title">
                        <a href="{{ command.url | relative_url }}">{{ command.header }}</a>
                    </h2>
                    <p>{{ command.content | markdownify | strip_html | truncate: 100 }}</p>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
